@model RentAMovie_v3.Models.RentalTransaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentalTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.MovieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RentalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
