@model IEnumerable<RentAMovie_v3.Models.RentalTransaction>

@{
    ViewData["Title"] = "Index";
}

<style>
    .none {
        display: none;
    }
</style>

<h1>Rental Transactions</h1>

<p>
    <a class="btn btn-primary" asp-action="NewTransaction">New Transaction</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        string returned = item.ReturnDate == null ? "" : "none";

        <tr> 
            <td>
                @Html.DisplayFor(modelItem => item.RentalDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FName) @Html.DisplayFor(modelItem => item.Customer.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.Staff.StaffUserName)
            </td>
            <td>
                
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.RentalId">Details</a>
                <span class="@returned">| <a class="btn btn-primary" asp-action="ReturnBook" asp-route-id="@item.RentalId">Return</a></span>
            </td>
        </tr>
}
    </tbody>
</table>
