@model RentAMovie_v3.Models.ItemList<Movie>
@{
    ViewData["Title"] = "Index";
    @* ViewBag.message = "Hey Theree"; *@
    @* var transactions = ViewBag.rentalTransactions as ICollection<RentalTransaction>; *@
    
    @functions {
        async Task OnPostAddMovie(Movie movie)
        {
            @* Model.AddedMovies.Add(movie); *@
        }
    }
        
}

<h1>Select Movie</h1>

<form asp-action="SelectMovie" asp-controller="RentalTransaction">
    <p>
        Search: <input style="color: black;"  type="text" name="SearchString" id="SearchString" placeholder="Search Movie by Title" />
        <input style="color: black;" type="submit" value="Search" />
    </p>
</form>
<div class="row">
    <div class="col d-flex" style="flex-direction: row">
        <h1>@Model.Transactions.Count()</h1>
        @foreach (var item in Model.Transactions) {
            <form asp-action="SelectMovie" class="card p-1 m-1" style="color: black">
                @item.Movie.Title | K @item.Movie.UnitPrice
                <input type="hidden" name="RentalId" value="@item.RentalId">
                <input type="hidden" name="MovieId" value="@item.MovieId">
                <input type="submit" value="Remove" class="btn btn-danger">
            </form>
        }
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center" style="flex-direction: column;">
        @foreach (var item in Model) {
            <form asp-action="SelectMovie" method="post" class="card p-2 my-2 w-75 d-flex justify-content-between" style="flex-direction: row;">
                <div class="" style="color: black;">
                    @Html.DisplayFor(modelItem => item.Title) | @Html.DisplayFor(modelItem => item.YearOfRelease)
                    <input type="hidden" name="MovieId" value="@item.MovieId">
                </div>
                <div>
                    <input type="submit" value="Add" class="btn btn-secondary" />
                </div>
            </form>
        }
    </div>
</div>