@model RentAMovie_v3.Models.LoginSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoginSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SessionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
