@model PaginatedList<RentAMovie_v3.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<style>
    .customer-data {
        color: black;
    }
</style>
<p>
    <a class="btn btn-primary" asp-action="Create">New Customer</a>
</p>
<form asp-controller="Customer" asp-action="Index">
    <p>
        Search: <input style="color: black" type="text" name="SearchString" placeholder="Search Customer By Last Name" />
        <input style="color: black" type="submit" value="Search" />
    </p>
</form>
<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center" style="flex-direction: column">
        @foreach (var item in Model) {
        @* <a > *@
            <div class="card p-2 my-2 w-75" style="display: flex; flex-direction: row; justify-content: space-between;">
                <a asp-action="Details" asp-route-id="@item.CustomerId">
                    <div class="customer-data">
                        @Html.DisplayFor(modelItem => item.FName) @Html.DisplayFor(modelItem => item.MName) @Html.DisplayFor(modelItem => item.LName)
                    </div>
                    <div class="customer-data">
                        @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div class="customer-data">
                        @Html.DisplayFor(modelItem => item.Address.City)
                    </div>
                </a>
                <div style="display: flex; justify-content: center;">
                    <a class="btn btn-secondary mx-1" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>  
                </div>
                    
            </div>
        }
    </div>
</div>